/*
 Author:       Cobweb Software
 Author URI:
 Template:     Cobweb Canvas
 Version:      1.0.0
*/

/* TABLE OF CONTENTS

0. Layout
1. Defaults
    1.1. Typographical Elements
    1.2. Headings
    1.3. Forms
    1.4. Menus
    1.5. Header
    1.6. Main
    1.7. Sidebar
    1.8. Footer
2. Helper Classes
3. Modules
4. Components

*/

/* -------------------------------------------------------------------------- *
 * 0. Layout                                                                  *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1. Defaults                                                                *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.1. Typographical Elements                                                *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.2. Headings                                                              *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.2. Forms                                                                 *
 * -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- *
 * 1.4. Menus                                                                 *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.5. Header                                                                *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.6. Main                                                                  *
 * -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- *
 * 1.7. Sidebar                                                               *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 1.8. Footer                                                                *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 2. Helper Classes                                                          *
 * -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- *
 * 3. Modules                                                                 *
 * -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- *
 * 4. Components                                                              *
 * -------------------------------------------------------------------------- */

