/*
 Author:       Cobweb Software
 Author URI:
 Template:     cobwebprogressive
 Version:      1.0.0

 Responsive layout

    1. Desktop max width 1199px
    2. Tablet max width 991px
    3. Tablet / Mobile max width 767px
    4. Mobile max width 579px

*/

  
/* -------------------------------------------------------------------------- *
 * 1. Desktop max width 1199px                                                *
 * -------------------------------------------------------------------------- */

    @media (max-width: 1199px) {

        

    }

/* -------------------------------------------------------------------------- *
 * 2. Tablet max width 991px                                                *
 * -------------------------------------------------------------------------- */

    @media (max-width: 991px) {

        

    }

/* -------------------------------------------------------------------------- *
 * 3. Tablet / Mobile max width 767px                                                *
 * -------------------------------------------------------------------------- */

    @media (max-width: 767px) {

        

    }

/* -------------------------------------------------------------------------- *
 * 4. Mobile max width 579px                                                  *
 * -------------------------------------------------------------------------- */

    @media (max-width: 579px) {

        

    }