.header_bottom{
    background: #154b95;
    border-right: none;
}

#main-menu-drop-top ul.VMmenu, .VMmenu ul, #main-menu-drop-top .VMmenu li{
    padding: 0;
}

#main-menu-drop-top .VMmenu{
    text-align: center;
}

#main-menu-drop-top .VMmenu > li{
    display: inline-block;
    margin-right: -3px;
}

#main-menu-drop-top .VMmenu > li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
    background: none;
    transition: all 300ms;
    font-size: 15px;
    text-transform: uppercase;
}

#main-menu-drop-top .VMmenu > li .menu-top li{
    display: inline-table;
    padding-right: 20px;
    min-width: 260px;
  }

#main-menu-drop-top .VMmenu > li a:hover, #main-menu-drop-top .VMmenu > li.active a{
    transition: all 300ms;
    color: #fff;
    background: #e67e22;
 }

#main-menu-drop-top .VMmenu{
    margin-bottom: 0;
}

#main-menu-drop-top{
    position: relative;
}

#main-menu-drop-top .VMmenu .menu-icon{
    position: relative;
}

#main-menu-drop-top .VMmenu .icon-down:hover:after, #main-menu-drop-top .VMmenu li.active .icon-down:after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top-color: #e67e22;
    z-index: 999999;
}

.submenu-level-3-top{
    margin: 15px 0;
}

#main-menu-drop-top .menu-top .submenu-level-3-top li{
    border-bottom: 0 !important;
    display: block !important;
}

.megaMenuTop #main-menu-drop-top .menu-top .submenu-level-3-top li:hover{
    background: #e67e22;
}

#main-menu-drop-top .menu-top .submenu-level-3-top li a{
    font-weight: 500;
    line-height: 15px;
    padding: 5px 7px;
    border: 0;
    text-transform: capitalize;
}

#main-menu-drop-top .menu-top li a{
    color: #fff !important;
    font-weight: 500;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 0.13);
}

#main-menu-drop-top .menu-top li a:hover, #main-menu-drop-top .VMmenu > li.active .menu-top li a, #main-menu-drop-top .VMmenu > li.active .menu-top li{
    background: none;
}

#main-menu-drop-top .category-image{
    width: 170px;
    height: 200px;
    position: absolute;
    right: 30px;
    top: 45px;
}

.image-to-show, .image-to-show-sub{
    display: none;
}

#submenu-block-top .menu-top > li.active:hover .image-to-show, #submenu-block-top .submenu-level-3-top li.active:hover .image-to-show-sub{
    display: block;
}

#main-menu-drop-top .category-image img{
    width: 100%;
    height: 100%;
}

#main-menu-drop-top .menu-top{
    display: none;
    padding: 20px;
    height: 100%;
    width: 80%;
    line-height: 20px;
    text-align: left;
    background: #154689;
}

#main-menu-drop-top #submenu-block-top{
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: 9999;
    left: 0;
    background: #FFF;
    border: 1px solid #154689;
    border-top: 0;
    overflow-y: auto;
}