.cobweb-login {
    position: relative;
}

.cobweb-login:hover .login-links, .cobweb-login:hover .fa-sign-in{
    color: #9b59b6;
}

.login-btn {
    line-height: 33px;
    padding: 5px;
    position: relative;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

.login-icon{
    margin-right: 5px;
}

.login-icon, .login-links{
    display: inline-block;
}

.login-form-box {
    display: none;
}

#form-login-username, #form-login-password{
    position: relative;
}

.add-on{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #d7d9db;
}

form#login-form input{
    padding: 5px 0px 5px 10px;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    height: 37px;
}

#login-form  input#modlgn-remember{
    top: -2px;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 3px 5px 3px 0px;
    border: none;
    line-height: 0;
    display: inline-block;
    float: left;
}

#login-form  label[for=modlgn-remember]{
    font-size: 11px;
}

.cobweb-login .login-form-box {
    position: absolute;
    margin-top: 1px;
    background: #fcfcfc;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #9b59b6;
    padding: 20px;
    z-index: 9996;
    left: auto;
    right: 0;
    min-width: 320px;
}

.cobweb-login .login-form-box:after{
    top: -10px;
    width: 0;
    height: 0;
    right: 30px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 8px solid #9b59b6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.unstyled{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0px;
}

.cobweb-login #login-form {
    margin-bottom: 0;
}
.cobweb-login ul {
    list-style: none;
}

.cobweb-login .input-prepend {
    margin-bottom: 10px;
}

.registrationBtn a{
    display: block;
}

.registrationBtn a, .registrationBtn a:hover{
    color: #fff;
}

#form-login-submit .controls, .registrationBtn{
    text-align: center;
    margin: 10px 0;
}


.button{
    min-width: 160px;
    height: 30px;
    line-height: 30px;
    margin: 0;
}